:root {
  --bigblock: #2f303a;
  --contact-color: #757575;
  --bluecol: #2196f3;
  --title-color: #212121;
  --p-color: #757575;
  --backcol: #fff;
  --mainfont: "Raleway";
  --anyfont: "Roboto";
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font);
  background: var(--backcol);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

nav {
  display: flex;
}

img {
  display: block;
  width: 100%;
  max-height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-no {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

header .container {
  display: flex;
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    align-items: center;
    display: flex;
  }
}

.nav-item {
  margin-right: 50px;
}

.con-item {
  margin-right: 50px;
}

.cocial {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.cocial-href,
.cocial-margin .cocial-link-href {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.cocial-margin .cocial-href:hover, .cocial-margin
.cocial-margin .cocial-link-href:hover {
  background-color: var(--bluecol);
}

.cocial-link-href .cocial-link {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cocial-link {
  width: 20px;
  height: 20px;
}

.cocial-link-href:hover .cocial-link {
  fill: #ffffff;
}

.cocial-margin {
  margin-right: 10px;
}

.cocial-margin .cocial-link-href:focus,
.cocial-margin .cocial-link-href:hover {
  background-color: var(--bluecol);
}

@media screen and (max-width: 1199.98px) {
  .cocials {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 767.98px) {
  .cocials {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .cocials {
    margin-left: 70px;
  }
}

.bigblock {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../title.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bigblock-center {
  text-align: center;
}

.bigblock-box {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.order-but {
  background: var(--bluecol);
  font-family: var(--anyfont);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  width: 200px;
  height: 50px;
  border: none;
  letter-spacing: 0.06em;
  color: var(--backcol);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-but:hover, .order-but:focus {
  background: #fff;
  color: #2196f3;
}

.categori-but {
  display: flex;
  margin: 0px auto 50px auto;
  justify-content: center;
}

.catalog-but {
  font-family: var(--anyfont);
  background: var(--backcol);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
  margin-right: 8px;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  border: none;
  background: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-but:hover, .catalog-but:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--backcol);
  background: var(--bluecol);
}

.button-send {
  font-family: roboto;
  background-color: #2196f3;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-send:hover {
  background: #fff;
  color: #2196f3;
}

.button-close {
  background-color: transparent;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
}

.button-close:hover .icon-close,
.button-close:focus .icon-close {
  fill: #2196f3;
}

.but-follow {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  padding: 10px 28px;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border: 0;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.but-follow:hover, .but-follow:focus {
  background: #fff;
  color: #2196f3;
}

.but-follow:hover .icon-send {
  fill: #2196f3;
}

@media screen and (max-width: 1199.98px) {
  .but-follow {
    margin-top: 20px;
  }
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send {
  fill: #fff;
  margin-left: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail {
  width: 16px;
  height: 12px;
  stroke: currentColor;
  margin-right: 10px;
}

.icon-phone {
  width: 10px;
  height: 16px;
  stroke: currentColor;
  margin-right: 10px;
}

.about-icon-antena::before {
  background-image: url(../icons/antenna1.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.about-icon-clock::before {
  background-image: url(../icons/clock1.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.about-icon-diagram::before {
  background-image: url(../icons/diagram1.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.about-icon-astronaut::before {
  background-image: url(../icons/astronaut1.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-client {
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-client {
  fill: #afb1b8;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.icon-link-client:hover, .icon-link-client:focus {
  fill: var(--bluecol);
  border-color: var(--bluecol);
}

@media screen and (max-width: 767.98px) and (max-width: 1199.98px) {
  .icon-link-client {
    height: 92px;
  }
}

@media screen and (max-width: 479.98px) {
  .icon-link-client {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .icon-link-client {
    width: 224px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-link-client {
    width: 170px;
  }
}

.clients-list__item {
  margin: 15px;
}

.icon-form {
  position: absolute;
  top: 29px;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label .input:focus + .icon-form {
  fill: #2196f3;
}

.list-img {
  display: flex;
  justify-content: space-between;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) rotate(1turn) scale(1);
}

.back-list {
  position: relative;
}

.form .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form {
  width: 100%;
  padding: 40px;
}

.form-label .input {
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea {
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  width: 448px;
  height: 120px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea:focus {
  border-color: #2196f3;
}

.comment-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement-link {
  margin-left: 3px;
  color: #2196f3;
  text-decoration: underline;
}

.agreement-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 3px;
  margin-right: 7px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox:checked + .agreement-label::before {
  background-image: url("../icons/galka.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: white;
  border-color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.about-name {
  font-family: var(--anyfont);
  color: var(--p-color);
}

.bigblock-title {
  color: var(--backcol);
  font-family: var(--anyfont);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px auto;
}

@media screen and (max-width: 1199.98px) {
  .bigblock-title {
    font-size: 26px;
    line-height: 42px;
  }
}

@media screen and (min-width: 480px) {
  .bigblock-title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .bigblock-title {
    width: 696px;
  }
}

.about-title {
  font-family: var(--anyfont);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}

@media screen and (max-width: 767.98px) {
  .about-title {
    text-align: center;
  }
}

.about-name_about-p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.title-section {
  font-family: var(--anyfont);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .title-section {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1199.98px) {
  .title-section {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .title-section {
    font-size: 28px;
    line-height: 33px;
  }
}

.title-name {
  font-family: var(--anyfont);
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.job {
  font-family: var(--anyfont);
  color: var(--p-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.name-project {
  font-family: var(--anyfont);
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.type-catalog {
  font-family: var(--anyfont);
  color: var(--p-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.rotate-text {
  color: white;
  font-family: var(--anyfont);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.for-mail {
  font-family: roboto;
  height: 50px;
  padding: 0px 0px 0px 16px;
  background-color: transparent;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
}

@media screen and (min-width: 768px) {
  .for-mail {
    width: 450px;
  }
}

@media screen and (max-width: 767.98px) {
  .for-mail {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .for-mail {
    margin-right: 12px;
    width: 358px;
  }
}

.for-mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.text-list {
  font-family: roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  margin-bottom: 3px;
}

.modal-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-label {
  font-family: Roboto;
  font-weight: 900;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-label .input:focus {
  border-color: #2196f3;
}

.agreement-label {
  font-family: roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #757575;
}

.link {
  font-family: var(--anyfont);
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-street {
  color: var(--backcol);
  font-family: var(--anyfont);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.white {
  color: #fff;
}

.address {
  font-style: normal;
  margin-top: 15px;
}

.con-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .con-list {
    display: flex;
    margin-left: auto;
  }
}

.con-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 3.14;
  letter-spacing: 0.02em;
  color: var(--contact-color);
}

.con-link:hover, .con-link:focus {
  color: var(--bluecol);
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .about-list {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .about-list {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767.98px) {
  .about-list-item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .about-list-item {
    margin: 15px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list-item {
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list-item:nth-child(1) {
    margin: 15px 0px 15px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list-item:nth-child(2) {
    margin: 15px 0px 15px 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list-item:nth-child(3) {
    margin: 15px 0px 15px 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list-item:nth-child(4) {
    margin: 15px 0px 15px 30px;
  }
}

.about-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.about-list-item::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
}

.mob-menu__btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .mob-menu__btn {
    display: none;
  }
}

.mob-menu__icon-menu {
  display: block;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  background: #ffffff;
  padding: 48px 40px;
}

.mobile-menu .is-open {
  flex-direction: column;
  justify-content: space-between;
}

.about-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .about-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list-img-section {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.98px) {
  .list-img-section {
    display: none;
  }
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer {
    padding-left: 76px;
    padding-right: 89px;
  }
}

.footer .footer-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .footer-link:hover,
.footer .footer-link:focus {
  color: var(--bluecol);
}

.footer-item-list {
  margin-top: 9px;
}

.content {
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .content {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .content {
    flex-direction: column;
  }
}

.margin-content {
  padding-right: 0px;
}

@media screen and (max-width: 1199.98px) {
  .margin-content {
    flex-direction: column;
    text-align: center;
  }
}

.podpiska {
  margin-left: 93px;
  flex-direction: column;
}

@media screen and (max-width: 1199.98px) {
  .podpiska {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 767.98px) {
  .podpiska {
    width: 100%;
  }
}

.input-podpiska {
  margin-top: 20px;
  display: flex;
}

@media screen and (max-width: 1199.98px) {
  .input-podpiska {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.nav-link {
  position: relative;
  font-weight: 500;
  line-height: 2.14;
}

.nav-link:after {
  position: absolute;
  content: "";
  width: 100%;
  background: #2196f3;
  height: 2px;
  border-radius: 2px;
  display: block;
  margin-top: 30px;
  opacity: 0;
}

.nav-link:hover {
  color: var(--bluecol);
}

.nav-link:hover::after {
  opacity: 1;
}

.header {
  padding: 24px 0px 25px 0px;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background: white;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list-team {
  justify-content: space-between;
  flex-basis: 100%;
}

@media screen and (max-width: 1199.98px) {
  .list-team {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .list-team {
    display: flex;
  }
}

.clietns-team {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

@media screen and (max-width: 479px) {
  .clietns-team {
    display: block;
  }
}

.people-list {
  background-color: var(--backcol);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .people-list {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .people-list {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .people-list {
    width: 270px;
  }
}

@media screen and (max-width: 1199.98px) {
  .people-list {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .people-list {
    width: 100%;
  }
}

.project-port {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.project {
  position: relative;
  margin: 15px;
  width: 370px;
}

.project:hover {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.padding-port {
  padding: 20px;
}

.rotate {
  opacity: 0;
  padding: 63px 24px 63px 24px;
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  height: 294px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link {
  display: block;
}

.project-link:hover .rotate,
.project-link:focus .rotate {
  opacity: 1;
}

.catalog {
  padding: 94px 0px 94px 0px;
}

.logo,
.footer-logo {
  font-family: var(--mainfont);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  height: 31px;
  margin-right: 90px;
}

@media screen and (max-width: 1199.98px) {
  .logo,
  .footer-logo {
    font-size: 24px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer-logo {
    margin-left: auto;
    margin-right: auto;
  }
}

.logo-span {
  color: var(--bluecol);
}

.white-span {
  color: var(--backcol);
}
/*# sourceMappingURL=main.css.map */