.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    padding-left: 76px;
    padding-right: 89px;
  }

  .footer-link {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-link:hover,
  .footer-link:focus {
    color: var(--bluecol);
  }
}

.footer-item-list {
  margin-top: 9px;
}

.content {
  display: flex;

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 0px;
    padding-right: 0px;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.margin-content {
  padding-right: 0px;
  @media screen and (max-width: 1199.98px) {
    flex-direction: column;
    text-align: center;
  }
}

.podpiska {
  margin-left: 93px;
  flex-direction: column;

  @media screen and (max-width: 1199.98px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
  }

  @media screen and (max-width: 767.98px) {
    width: 100%;
  }
}

.input-podpiska {
  margin-top: 20px;
  display: flex;

  @media screen and (max-width: 1199.98px) {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
