.team {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  background: white;
}

.list-team {
  justify-content: space-between;
  flex-basis: 100%;

  @media screen and (max-width: 1199.98px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.clietns-team {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  @media screen and (max-width: 479px) {
    display: block;
  }
}

.people-list {
  background-color: var(--backcol);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }

  @media screen and (max-width: 1199.98px) {
    margin-bottom: 30px;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
