.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send {
  fill: #fff;
  margin-left: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail {
  width: 16px;
  height: 12px;
  stroke: currentColor;
  margin-right: 10px;
}

.icon-phone {
  width: 10px;
  height: 16px;
  stroke: currentColor;
  margin-right: 10px;
}

.about-icon-antena::before {
  background-image: url(../icons/antenna1.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.about-icon-clock::before {
  background-image: url(../icons/clock1.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.about-icon-diagram::before {
  background-image: url(../icons/diagram1.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.about-icon-astronaut::before {
  background-image: url(../icons/astronaut1.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-client {
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-client {
  fill: #afb1b8;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  &:hover,
  &:focus {
    fill: var(--bluecol);
    border-color: var(--bluecol);
  }

  @media screen and (max-width: 767.98px) and (max-width: 1199.98px) {
    height: 92px;
  }

  @media screen and (max-width: 479.98px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 224px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients-list__item {
  margin: 15px;
}

.icon-form {
  position: absolute;
  top: 29px;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label .input:focus + .icon-form {
  fill: #2196f3;
}

.list-img {
  display: flex;
  justify-content: space-between;
}
