.mob-menu__btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu__icon {
}

.mob-menu__icon-menu {
  display: block;
}

.mob-menu__icon-close {
}
