.mob-menu__btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu__icon {
}

.mob-menu__icon-menu {
  display: block;
}

.mob-menu__icon-close {
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  background: #ffffff;
  padding: 48px 40px;

  .is-open {
    flex-direction: column;
    justify-content: space-between;
  }
}
